.divvy{
    min-width: 100%;
    height: 225px;
    background-color: white;
}
.pogo{
    width: 250px;
    height: 150px;
    
}

img, svg, video, canvas, audio, iframe, embed, object{
    display: inline-block;
}

.column {
    float: left;
    width: 33.33%;
    padding-top: 40px;
  }
  .column2 {
    float: left;
    width: 33.33%;
    padding-top: 10px;
  }
  
.divvy::after {
  content: "";
  clear: both;
  display: table;
 }

#root > div > div > div.divvy > div > a > span{
    font-weight: 800;
    font-size: 25px;
}
    
