.body {
    height: 100%;
}
.flex {
    border-color: rgb(86, 86, 86);
}

@media (min-width: 480px) {
    table {
    display: inline-table !important;
    }

    thead tr:not(:first-child) {
    display: none;
    }
}

td:not(:last-child) {
    border-bottom: 0;
    border-color: rgb(86, 86, 86);
}

th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    border-color: rgb(86, 86, 86);
}
